/**
markup css
 */

/* 중앙선 */
hr {
  margin: 30px 0;
}

/* 제목 */
h2 {
  margin-bottom: 20px;
}

/* 서브 제목 */
h3 {
  margin: 50px 0 20px 0;
}

p {
  margin: 15px 0;
}

/* 인용 */
blockquote {
  padding: 0 15px;
  font-size: 1.8rem;
  border-left: 5px solid var(--content-blockquote-bar);
}

/* 이미지 */
img {
  width: 90%;
  display: block;
  margin: 20px auto;
}

/* 블럭 */
code[class*="language-text"] {
  padding: 4px !important;
  margin-right: 3px;
  white-space: pre-line !important;
  word-break: break-all;
  font-size: 1.35rem !important;
}

/* 코드블럭 */
code[class*="language-"], pre[class*="language-"] {
  background: var(--code-box-bg-color) !important;
  color: var(--code-font-color) !important;
  text-shadow: none;
  font-size: 1.2rem;

  .token.comment {
    color: green;
  }

  .operator {
    background: none;
  }
}

/* 강조색 */
.em {
  font-weight: bold;

  &.red {
    color: red;
  }
}

/* callout 박스 */
.callout {
  background: var(--code-box-bg-color);
  display: block;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;

  &:before {
    content: '💡';
    margin-right: 5px;
  }
}

/* 출처 */
.reference {
  font-size: 1.7rem;
  display: inline-block;
  margin: 0;
  padding-bottom: 30px;

  > p {
    margin: 5px 0;
  }

  * {
    color: var(--reference-font-color) !important;
    transition: color 0.15s ease-in-out;

    &:hover {
      color: var(--reference-hover-font-color) !important;
      transition: color 0.15s ease-in-out;
    }
  }

  a:before {
    content: '🔗';
    margin-right: 5px;
  }
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

td {
  border-top: 1px solid #ddd;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

tr:nth-child(odd) td {
  background-color: #f9f9f9;
}

@media all and (max-width: 400px) {
  code[class*="language-"], pre[class*="language-"] {
    white-space: pre !important;
    font-size: 0.8rem;
  }
}
